<h1>Controls : <%=@room.name %></h1>

<h4>Users that can access this room</h4>
<ul>
  <% @users.each do |user| %>
      <li><%= user.username  %></li>
  <% end %>
</ul>

<h4>add new user</h4>

<%= form_for :room_right, url: "chat_rooms#addUserToRoom" do |f| %>
    <p>
      <%= f.label :username, "Username or email"%><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.submit "Add user to room" %>
    </p>
<% end %>

<%= link_to raw("<i class='fa fa-angle-double-left'></i> Back to room #{@room.name}"), chat_room_path(@room.id,@room.name)%>