<h1><%= @room.name %></h1>

<div class="chat ui-widget-content" id="chat-box">

  <h4>Chat:</h4><span class="ui-icon ui-icon-grip-diagonal-se"></span>

  <div class="chat-message-box">

      <% @messages.each do |msg| %>
      <div><span class ="chat-userName"><%= msg.userName %>:</span><p class=""><%= msg.text %></p></div>
        <% end %>
  </div>
  <textarea disabled> </textarea>

</div>

<div class="ui-widget-content" id="resourceContainer">

  <ul id="resourceList">

    <% @resources.each do |resource| %>
        <li>

          <a href="#">

            <%= image_tag resource[:image], class:"resource_image" %>
            <h5><%= resource[:title]? resource[:title] : resource[:url] %></h5>
            <h5><%= resource[:added_by] %></h5>

          </a>

        </li>
    <% end %>

  </ul>

  <%= form_for :web_resource, url: "chat_rooms#add_resource", remote: true, html:{id:"addResourceToroom"} do |f| %>
      <p>
        <%= f.label :url, "url"%><br>
        <%= f.text_field :url %>
      </p>

      <p>
        <%= f.submit "Add resource", remote:true %>
      </p>
  <% end %>


</div>


<%= link_to raw('<i class="fa fa-wrench"></i> Room control'), chat_room_control_path(@room.id,@room.name) %><br>
<%= link_to raw('<i class="fa fa-angle-double-left"></i> Back to rooms'), chat_path  %>



<script>

    $(function(){

        $("#addResourceToroom").on("ajax:success", function(e, data, status, xhr) {


            if(data.data){

                $("#resourceList").append(data.data)

            }
            console.log(data)

        }).on("ajax:error", function(e, xhr, status, error){

            console.log(error);

        })


        // GUI

        $( "#resourceContainer" ).resizable({minWidth:165}).draggable();

        $( "#chat-box" ).resizable({

            minHeight: 320,
            minWidth: 320

        }).draggable();

        var dispatcher = new WebSocketRails('rarcoo.synology.me:3000/websocket');
        var channel = dispatcher.subscribe_private(<%= @room.id %>);

        channel.on_success = function(data) {
            console.log( "Joined channel ");
            console.log(data)
            textarea.removeProp('disabled');

            channel.bind('message_broadcast', function(data) {

                console.log('Message recieved: ' + data);
                messagebox.append('<div><span class ="chat-userName">'+data.userName+':</span><p class="">'+data.text+'</p></div>');
                messagebox.animate({ scrollTop: 2000 },messagebox.height);


            });

        }

        channel.on_failure = function(reason) {
            console.log( "Authorization failed because " + reason.message );
        }



        var textarea = $('.chat textarea');
        var messagebox = $('.chat-message-box')

        messagebox.animate({ scrollTop: 2000 },messagebox.height);

        dispatcher.on_open = function(data) {
            console.log('Connection has been established: ', data);
        }


        textarea.keyup(function(e){

            if(e.which == 13 && e.shiftKey == false){

                e.preventDefault();

                var data = this.value.slice(0,-1);
                this.value='';
                if (data.length!=0 && !data.match(/^\s*$/)){

                    console.log({ name:name , text:data});
                    dispatcher.trigger('chat.submit_message', {room_id:<%= @room.id %>,text:data});

                }
            }

        })

    })


    //dispatcher.trigger('chat.submit_message', object_to_send);

</script>