<ul id="room-menu">
    <li><strong><%= @room.name %></strong></li>
    <li><%= link_to "Home", welcome_index_path %></li>
    <li><%= link_to current_user.username , edit_user_registration_path %></li>


    <li><%= link_to raw('<i class="fa fa-wrench"></i> Room control'), chat_room_control_path(@room.id,@room.name) %><br></li>
    <li><%= link_to raw('<i class="fa fa-angle-double-left"></i> Back to rooms'), chat_path  %></li>
</ul>
<%= render :partial => "/highlight_controls" %>

<!-- canvas -->

<iframe id ="room-main-frame" class="ui-widget-content">

</iframe>

<!-- chat box -->

<div class="chat ui-widget-content" id="chat-box">

  <h4>Chat:</h4><span class="ui-icon ui-icon-grip-diagonal-se chat-grip"></span>

  <div class="chat-message-box">

      <% @messages.each do |msg| %>
      <div><span class ="chat-userName"><%= msg.userName %>:</span><p class=""><%= msg.text %></p></div>
        <% end %>
  </div>
  <textarea disabled> </textarea>

</div>


<!-- resources -->
<div class="ui-widget-content" id="resourceContainer">

  <ul id="resourceList">

    <% @resources.each do |resource| %>
        <li>

          <a href="#">

            <%= image_tag resource[:image], class:"resource_image" %>
            <h5><%= resource[:title]? resource[:title] : resource[:url] %></h5>
            <h5><%= resource[:added_by] %></h5>

          </a>

        </li>
    <% end %>

  </ul>

  <input type="text" id="resource-input-url">
  <button id="resource-add-button">Add Resource</button>
  <p>Status: <span id="resource-input-status">Not connected</span></p>

  <% if false %>
  <%= form_for :web_resource, url: "chat_rooms#add_resource", remote: true, html:{id:"addResourceToroom"} do |f| %>
      <p>
        <%= f.label :url, "url"%><br>
        <%= f.text_field :url %>
      </p>

      <p>
        <%= f.submit "Add resource", remote:true %>
      </p>
  <% end %>
  <% end %>



</div>

<script>

    $( "#resourceContainer" ).resizable({minWidth:165,handles: "e"})

    $( "#chat-box" ).resizable({

        minHeight: 320,
        minWidth: 320

    }).draggable();

   var room_id = <%= @room.id %>;

    APP.socket.wait();
   var chatbox = new ChatBox(APP.socket,room_id,$('.chat textarea'),$('.chat-message-box'));
   var resources = new WebResourcesPanel(APP.socket,room_id,$('#resourceContainer'));
   APP.socket.init(room_id);
   APP.main_canvas.init(APP.socket,room_id,resources,$("#room-main-frame"));

</script>
