<header class="row" id="app-header">

  <h1 class="col-md-3" > Colearn </h1>

  <nav class="col-md-5" id="app-navbar">

    <ul class="nav nav-pills">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "Rooms", chat_path %></li>

      <% if user_signed_in? %>

          <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.username %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %> </li>
            </ul>

          </li>

      <% else %>

          <li> <%= link_to "Sign in", new_user_session_path %> </li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>

      <% end %>

    </ul>

  </nav>
</header>
